{% extends 'base.html.twig' %}

{% block body %}
    <h1>Une erreur s'est produite</h1>

    {% if attribute(error, '0') is not defined %}
        <p>{{ error }}</p>
    {% else %}
        <p>{{ error.message }}</p>
        {# Ajoutez d'autres détails sur l'erreur si nécessaire #}
        {% if app.debug %}
            {% if error.trace is iterable %}
                <pre>
                    {{ dump(error.trace) }}
                </pre>
            {% else %}
                <pre>{{ error.trace }}</pre>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
