{% extends 'base.html.twig' %}
{% block body %}
    <h1>Une erreur s'est produite</h1>
    
    <p>{{ error.message }}</p>
    {% if app.debug %}
    {% if error.trace is iterable %}
        <pre>
            {{ dump(error.trace) }}
        </pre>
    {% else %}
        <pre>{{ error.trace }}</pre>
    {% endif %}
{% endif %}

{% endblock %}
