{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ product.product_name }}</h2>

    <p>Code barre : {{ product.code }}</p>

    {% set brands = product.brands|split(',') %}
    <p>Marque(s) : </p>
    <ul>
        {% for brand in brands %}
            <li>{{ brand }}</li>
        {% endfor %}
    </ul>

    <p>Image :</p>
    {% if product.image_front_thumb_url is defined %}
        <img src="{{ product.image_front_thumb_url }}" alt="Image produit">
    {% else %}
        <p>Aucune image n'est  disponible pour ce produit.</p>
    {% endif %}
{% endblock %}
