{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ product.product_name }}</h1>

    <p>{{ product.brands }}</p>
    
    {% if product.image_front_thumb_url is defined %}
        <img src="{{ product.image_front_thumb_url }}" alt="Image produit">,



    {% else %}
        <p>Aucune image n est  disponible pour ce produit.</p>
    {% endif %}


    

{% endblock %}