{% extends 'base.html.twig' %}

{% block title %}Résultat du recherche{% endblock %}

{% block body %}
    <h1>Résultat du recherche</h1>

    {% if results %}
        <ul>
            {% for result in results %}
                <li>{{ result.product_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun produit disponible!</p>
    {% endif %}
{% endblock %}
