{% extends 'base.html.twig' %}

{% block title %}Résultat du recherche{% endblock %}

{% block body %}
    <h1>Résultat du recherche</h1>

    {% if results %}
        <ul>

            {% for result in results %}
                <li>
                    {{ result.product_name }} ({{ result.code }}) <a href="{{ path('product_show', { code: result.code }) }}">Voir le détail</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun produit disponible !</p>
    {% endif %}
{% endblock %}
