<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/css.css') }}">

            <script src="https://cdn.tailwindcss.com"></script>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include "layout/navbar.html.twig"%}
        {% block body %}{% endblock %}
        {% include "layout/footer.html.twig" %}
    </body>
</html>
