<footer class="fixed bottom-0 w-full bg-gray-800 text-white py-5">
        <div class="container mx-auto flex justify-center">
            <div class="w-full text-center">
                <h2 class="text-lg">Utility Pages</h2>
                <ul class="text-sm flex flex-wrap justify-center gap-2">
                    <li><a href="#" class="text-white no-underline">Start Here</a></li>
                    <li><a href="#" class="text-white no-underline">Styleguide</a></li>
                    <li><a href="#" class="text-white no-underline">Password Protected</a></li>
                    <li><a href="#" class="text-white no-underline">404-Not Found</a></li>
                    <li><a href="#" class="text-white no-underline">Licenses</a></li>
                    <li><a href="#" class="text-white no-underline">Changelog</a></li>
                    <li><a href="#" class="text-white no-underline">View More</a></li>
                </ul>
            </div>
        </div>
</footer>