<!-- Responsive navbar-->
    <nav class="flex bg-neutral-200 justify-between justify-items-center py-3 px-10">
            <ul>
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                <li><a href="{{ path('search') }}">Recherche</a></li>
            </ul>
    </nav>